<footer>
    <div class="f-info">
        <div class="f-info-name">Made by Sujan Karmakar</div>
        <div class="f-info-socials">
            <a href="https://github.com/sujan-karmakar" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/sujan-karmakar/" target="_blank"><i class="fa-brands fa-square-linkedin"></i></a>
        </div>
    </div>
</footer>