<nav class="navbar navbar-expand-lg custom-navbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-gamepad"></i> Play.exe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <!-- Center: Search Bar -->
      <form class="d-flex mx-auto" role="search" style="width: 50%; max-width: 500px;">
        <input class="form-control me-2" type="search" placeholder="Search games, players..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>

      <!-- Right: Auth Buttons -->
      <div class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center gap-2">
        <a class="nav-link" href="/">Home</a>
        <% if(!currentUser) { %>
          <a class="btn btn-outline-primary px-3 rounded-pill" href="/login">Login</a>
          <a class="btn btn-primary px-3 rounded-pill" href="/signup">Sign Up</a>
        <% } else { %>
          <a class="nav-link" href="/profile">Profile</a>
          <a class="btn btn-outline-danger btn-sm rounded-pill ms-2" href="/logout">Logout</a>
        <% } %>
      </div>

    </div>
  </div>
</nav>