<% layout("/layouts/boilerplate") -%>
<div>
    <p>RockPaperScissors</p>
    <a href="/games/rockpaperscissors">Play</a>
</div>
<div>
    <p>Simon Game</p>
    <a href="/games/simongame">Play</a>
</div>
<div>
    <p>Guessing Game</p>
    <a href="/games/guessinggame">Play</a>
</div>
<div>
    <p>TicTacToe</p>
    <a href="/games/tictactoe">Play</a>
</div>